@model IEnumerable<User>

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.FirstName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Surname)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayFor(modelItem => item.Login)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Password)
                </th>
            }
            <th>
                @Html.DisplayFor(modelItem => item.Comment)
            </th>
            @if (User.IsInRole("admin") || User.IsInRole("manager"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id=item.Id })
                    @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
                </td>
            }
            <th></th>
        </tr>
    }
</table>