@model IEnumerable<UserRole>

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Surname)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.User.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Password)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.User.Comment)
        </th>
        @if(!User.IsInRole("mounter"))
        {
            <th></th>          
        }
    </tr>
    @foreach (var item in Model)
    {
        @if (User.IsInRole("manager"))
        {
            if(item.RoleId > 2)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.Surname)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.Comment)
                    </th>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.UserRoleId })">Редагувати</a>
                        @if (item.User.IsActive)
                        {
                            <a href="@Url.Action("ActivityChange", new { id = item.User.Id })">Відключити</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ActivityChange", new { id = item.User.Id })">Включити</a>
                        }
                        <a href="@Url.Action("Delete", new { id = item.User.Id })">Видалити</a>
                    </td>
                </tr>
            }
        }
        else if(User.IsInRole("admin"))
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Password)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Comment)
                </th>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.UserRoleId })">Редагувати</a>
                    @if (item.User.IsActive)
                    {
                        <a href="@Url.Action("ActivityChange", new { id = item.User.Id })">Відключити</a>
                    }
                    else
                    {
                        <a href="@Url.Action("ActivityChange", new { id = item.User.Id })">Включити</a>
                    }
                    <a href="@Url.Action("Delete", new { id = item.User.Id })">Видалити</a>
                </td>
            </tr>
        }
    }
</table>