@model IEnumerable<UserRole>

<title>@ViewBag.Title</title>

<h2>@ViewBag.Title</h2>

<table>
    <tr class="first-row">
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Surname)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.User.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Password)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.User.Comment)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        @if (User.IsInRole("manager"))
        {
            if(item.RoleId > 2)
            {   
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.Surname)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.User.Comment)
                    </th>
                    <th>
                        <img src="~/img/svg/edit.svg" class="editlink" onclick="window.location.href = '@Url.Action("Edit", new { id = item.UserRoleId })'">
                        <a>Редагувати</a>
                    </th>
                    <th class="actions">
                        <img src="~/img/svg/edit.svg" class="editlink" title="Редагувати користувача" onclick="window.location.href = '@Url.Action("Edit", new { id = item.UserRoleId })'">
                    </th>
                    @if (!(item.UserId == ViewBag.Id))
                    {
                        @if (item.User.IsActive)
                        {
                            <th class="actions">
                                <img src="~/img/svg/disable.svg" class="cancellink" title="Відключити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                            </th>
                        }
                        else
                        {
                            <th class="actions">
                                <img src="~/img/svg/active.svg" class="openlink" title="Включити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                            </th>
                        }
                        <th class="actions">
                            <img src="~/img/svg/delete.svg" class="closelink" title="Видалити користувача" onclick="window.location.href = '@Url.Action("Delete", new { id = item.User.Id })'">
                        </th>
                    }
                    else
                    {
                        @if (item.User.IsActive)
                        {
                            <th class="actions">
                                <img src="~/img/svg/disable.svg" class="cancellink" title="Неможливо відключити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                            </th>
                        }
                        else
                        {
                            <th class="actions">
                                <img src="~/img/svg/active.svg" class="openlink" title="Неможливо включити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                            </th>
                        }
                        <th class="actions">
                            <img src="~/img/svg/delete.svg" class="closelink" title="Неможливо видалити користувача" onclick="window.location.href = '@Url.Action("Delete", new { id = item.User.Id })'">
                        </th>
                    }
                </tr>
            }
        }
        else if(User.IsInRole("admin"))
        {   
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Password)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.User.Comment)
                </th>
                <th class="actions">
                    <img src="~/img/svg/edit.svg" class="editlink" title="Редагувати користувача" onclick="window.location.href = '@Url.Action("Edit", new { id = item.UserRoleId })'">
                </th>
                @if (!(item.UserId == ViewBag.Id))
                {
                    @if (item.User.IsActive)
                    {
                        <th class="actions">
                            <img src="~/img/svg/disable.svg" class="cancellink" title="Відключити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                        </th>
                    }
                    else
                    {
                        <th class="actions">
                            <img src="~/img/svg/active.svg" class="openlink" title="Включити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                        </th>
                    }
                    <th class="actions">
                        <img src="~/img/svg/delete.svg" class="closelink" title="Видалити користувача" onclick="window.location.href = '@Url.Action("Delete", new { id = item.User.Id })'">
                    </th>
                }
                else
                {
                    @if (item.User.IsActive)
                    {
                        <th class="actions">
                            <img src="~/img/svg/disable.svg" class="cancellink" title="Неможливо відключити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                        </th>
                    }
                    else
                    {
                        <th class="actions">
                            <img src="~/img/svg/active.svg" class="openlink" title="Неможливо включити користувача" onclick="window.location.href = '@Url.Action("ActivityChange", new { id = item.User.Id })'">
                        </th>
                    }
                    <th class="actions">
                        <img src="~/img/svg/delete.svg" class="closelink" title="Неможливо видалити користувача" onclick="window.location.href = '@Url.Action("Delete", new { id = item.User.Id })'">
                    </th>
                }
            </tr>
        }
    }
</table>