@model IEnumerable<Request>
@using RMS.Models
@using RMS.Domain.Entities

<title>@ViewBag.Title</title>
<div class="page-info">
    <h2>@ViewBag.Title</h2>
    <div class="switcher">
        <h2 style="display: flex; margin-right: 30px;">Режим карток</h2>
        <label class="switch">
            <input type="checkbox" id="tablecheck" onclick="savePreference('modePreference', 'tablecheck', toggleTable);">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="request-list">
    <a href="/Request/PlanningRequests">Запланованих заявок: @ViewBag.PlanningRequestsCount</a>
    <a href="/Request/CurrentRequests">Поточних заявок: @ViewBag.CurrentRequestsCount</a>
    <a href="/Request/ClosedRequests">Закритих заявок: @ViewBag.ClosedRequestsCount</a>
    <a href="/Request/CancelledRequests">Відмінених заявок: @ViewBag.CancelledRequestsCount</a>
</div>
<div class="requests">
    <table class="table" id="table">
        <tr class="first-row">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lifecycle.Current)
            </th>
        </tr>
         <tbody class="tbody">
            @foreach (var item in Model)
            {
                string rowClass = "row";
                if (item.Priority == 1)
                {
                    rowClass += " default";
                }
                else if (item.Priority == 2)
                {
                    rowClass += " critical";
                }
                <tr>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Id)
                        </div>
                        <div class="displayfor">
                            @Html.DisplayFor(modelItem => item.Id)
                        </div>
                    </th>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </div>
                        <div class="displayfor">
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </div>
                    </th>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Priority)
                        </div>
                        <div class="displayfor">
                            @Html.Raw(PriorityModel.GetPriority(item.Priority))
                        </div>
                    </th>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Comment)
                        </div>
                        <div class="displayfor">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </div>
                    </th>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Address)
                        </div>
                        <div class="displayfor">
                            @Html.DisplayFor(modelItem => item.Address)
                        </div>
                    </th>
                    <th class="@rowClass">
                        <div class="namefor">
                            @Html.DisplayNameFor(model => model.Lifecycle.Current)
                        </div>
                        <div class="displayfor">
                            @Html.DisplayFor(modelItem => item.Lifecycle.Current)
                        </div>
                    </th>
                        @if (item.Lifecycle.Closed == null && item.Lifecycle.Cancelled == null)
                        {   
                            <th class="actions">
                                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                                {
                                    <img src="~/img/svg/edit.svg" class="editlink req" title="Редагувати заявку" onclick="window.location.href = '@Url.Action("Edit", new { id = item.Id })'">
                                    <img src="~/img/svg/cancel.svg" class="cancellink req" title="Відмінити заявку" onclick="window.location.href = '@Url.Action("Cancel", new { id = item.Id })'">
                                }
                                <img src="~/img/svg/close.svg" class="closelink req" title="Закрити заявку" onclick="window.location.href = '@Url.Action("Close", new { id = item.Id })'">
                            </th>
                        }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination">
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("CurrentRequests", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a href="@Url.Action("CurrentRequests", new { page = i })" @(i == ViewBag.CurrentPage ? "class=active" : "")>@i</a>
    }

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="@Url.Action("CurrentRequests", new { page = ViewBag.CurrentPage + 1 })">Next</a>
    }
</div>
