@model RequestViewModel

<title>@ViewBag.Title</title>

<div class="viewrequest">
	<form asp-area=""
		  asp-controller="Request"
		  asp-action="Info"
		  class="requestform"
		  id="info"
		  method="post">
		<span class="title">
			@ViewBag.Title
		</span>
		<div class="wrap-input">
			<input class="input login" type="hidden" asp-for="IsDeleted">
		</div>
		<div class="wrap-input">
			<input class="input login" type="hidden" asp-for="Id">
		</div>
		<div class="wrap-input">
			<input class="input login" type="hidden" id="uid" asp-for="AbonentUID">
		</div>
		<div class="formcontent">
			<div class="create-request-section">
				<span class="title">
					Загальні відомості
				</span>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/request/category.svg" />
					<input class="input login" asp-for="Category.Name" readonly />
				</div>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/request/priority.svg" />
					<input class="input login" value="@PriorityModel.GetPriority(Model.Priority)" readonly />
				</div>

				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/comment.svg" />
					<input class="input login" type="text" placeholder="@Html.DisplayNameFor(model => model.Comment)" asp-for="Comment" readonly>
				</div>
				<div class="wrap-input">
					<img class="input-img" src="~/img/png/key.png" />
					<input class="input login" value="@StatusModel.GetStatus(Model.Status)" readonly />
				</div>
			</div>
			<div class="create-request-section">
				<span class="title">
					Відомості про клієнта
				</span>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/request/address.svg" />
					<input class="input login" type="text" id="address" asp-for="Address" readonly>
				</div>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/user/namesurname.svg" />
					<input class="input login" id="fio" type="text" readonly>
				</div>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/user/namesurname.svg" />
					<input class="input login" id="phone" type="text" readonly>
				</div>
				<div class="wrap-input">
					<img class="input-img" src="~/img/svg/user/namesurname.svg" />
					<input class="input login" id="comment" type="text" readonly>
				</div>
			</div>
		</div>
	</form>
</div>