@model IEnumerable<RequestModel>
@using RMS.Models

@{
    ViewBag.Title = "Список заявок";
    int i = 0;
}

<h2>Список заявок</h2>
<p>Заявок: @(Model.Count<RequestModel>())</p>
<p>Відкритих заявок: @ViewBag.OpenedRequestsCount</p>
<p>Виконуваних заявок: @ViewBag.ProcessingRequestsCount</p>
<p>Закритих заявок: @ViewBag.ClosedRequestsCount</p>
<p>Відмінених заявок: @ViewBag.CancelledRequestsCount</p>
<table>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifecycle.Opened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifecycle.Proccesing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifecycle.Closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifecycle.Cancelled)
        </th>
        @if (User.IsInRole("admin") || User.IsInRole("manager"))
        {
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </th>
            <th>
                @Html.Raw(PriorityModel.GetPriority(item.Priority))
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Executor.FirstName)
                @Html.DisplayFor(modelItem => item.Executor.Surname)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Comment)
            </th>
            <th>
                @Html.Raw(StatusModel.GetStatus(item.Status))
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Lifecycle.Opened)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Lifecycle.Proccesing)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Lifecycle.Closed)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Lifecycle.Cancelled)
            </th>
            <th>
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.Surname)
                }
            </th>
            <td>
                @if (item.Lifecycle.Closed == null && item.Lifecycle.Cancelled == null)
                {
                    <a href="@Url.Action("Close", new { id = item.Id })">Закрити</a>
                    
                    if (User.IsInRole("admin") || User.IsInRole("manager"))
                    {
                        @Html.Raw("|")
                        <a href="@Url.Action("Cancel", new { id = item.Id })">Відмінити</a>
                    }
                }
            </td>
        </tr>
    }
</table>