@model PersonalPageModel
<title>@ViewBag.Title</title>

<div class="personalpage">
	<form asp-controller="Account" asp-action="PersonalPage" method="post" enctype="multipart/form-data">
		<div class="profile">
			<div class="profileimage">
				<img src="@Model.User.ImgPath">
				<label class="imageedit" for="file">Редагувати</label>
				<input type="file" name="AvatarFile" style="display: none" id="file" />
			</div>
			<div class="accountinfo">
				<div class="name">
					<input type="hidden" asp-for="@Model.User.Id" />
					<input type="hidden" asp-for="@Model.User.Login" />
					<input type="hidden" asp-for="@Model.User.ImgPath" />
					<input type="hidden" asp-for="@Model.User.Comment" />
					<input type="hidden" asp-for="@Model.User.IsActive" />
					<label asp-for="@Model.User.FirstName"></label>
					<input type="text" asp-for="@Model.User.FirstName"/>
					<label asp-for="@Model.User.Surname"></label>
					<input type="text" asp-for="@Model.User.Surname"/>
					<label asp-for="@Model.User.Password"></label>
					<input type="password" asp-for="@Model.User.Password"/>
				</div>
			</div>
		</div>
		<button type="submit">Зберегти</button>
	</form>
</div>